@import '../../assets/css/color.css';

.index {
	font-size: .14rem;
	display: flex;
	justify-content: space-between;
	width: 3.45rem;
	height: 1.4rem;
	background: url('../../assets/images/test.png');
	color: #0f0;
}

:root { 
  --red: #d33;
}

a {
	color: var(--fontcolor); 
  &:hover {
    color: color(var(--red) a(54%));
  }
}